* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*site components*/
header {
	border-bottom: 8px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
	display: flex;
	flex-wrap: wrap;

	border-bottom: 1px solid black;
}

.container__column {
	flex: 1;
	/* Space between columns */
	margin: 0 8px;

	/* Layout each column */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.container__content {
	/* Take available height */
	flex: 1;
	flex-wrap: wrap;
}

.wrapper {
	max-width: 95%;

}

.documentation-container {
	margin-top: 70px;
	margin-bottom: 70px;
	flex: 1;
}

.nav-pills {
	max-width: 100%;
	overflow: hidden;
}
.nav-link {
	border-right: 1px solid black;
	cursor: pointer;
	max-width: 100%;
}

.nav-link:hover {
	color: #d9428d;
}

.nav-link:active {
	color: #d9428d;
	font-weight: bold;
}

.nav-link:visited {
	color: #d9428d;
	font-weight: bold;
}

li .nav-item {
	margin: 0;
	padding: 0;
}

.install {
	display: flex;
}

.install-wrapper-half {
	flex: 1;
}

#letters{
	display:none;
}

.abc-all {
	max-width: 100%;
}

.abc li {
	display: none;
}

.abc {
	height: 150px;
	margin-top: 20px;
}

.abc.active {
	display: block;
}

.wrap-documentation{
	height: auto;
}

.container-examples {
	flex: 1;

}

.container-examples.first {
	width: 70%;

}

.container-examples.second {
	width: 30%;
}

/*examples*/
.fixed-width-element {
	width: 200px;
	height: 200px;
	border: 5px solid black;
	border-radius: 10px;
	background-color: black;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
	margin: 20px;
}

.f-box-example{
    display: flex;
    max-width: 50px;
    background-color: black;
	max-height: 70px;
}

.f-box-example > div {
    display: block;
    min-width: 100px;
    border: 2px solid black;
    height: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
	background-color: white;
	border-radius: 5px;
	height: 250px;
	margin-right: 10px;
}

.negative-margins.overflow-hidden {
	margin-left: -50px;
}

.grid1 { grid-area: 1 / 1 / 2 / 2; }
.grid2 { grid-area: 1 / 2 / 2 / 3; }
.grid3 { grid-area: 2 / 1 / 3 / 2; }
.grid4 { grid-area: 2 / 2 / 3 / 3; }

.b {
    border: 5px solid black;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
}

.button {
	background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
	width: 250px;
	height: 50px;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
}

 .min-content {
	border: 5px solid white;
	width: 250px;
	height: 250px;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
 }
  .min-content > div{
	flex-shrink: 2;
	background-color: #eeeeee;
	border: 1px solid black;
	border-radius: 5px;
	color: black;
  }

  .img-container {
    border: 2px solid black;
    width: 240px;
    height: 200px;
	margin-bottom: 40px;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
	border-radius: 5px;
}

.fixed-width-img {
    width: 200px;
    height: 200px;
}

.img-wrapper {
	width: 350px;
	height: 350px;

}

.wrap-1 {
    width: 200px;
	height: 200px;
    background-color: black;
	box-shadow: 5px 5px 15px 5px #000000;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	border: 5px solid white;
}

.ad {
	position: relative;
	z-index: 1;
	margin-top: 40px;
}

.wrap-example {
	width: 300px;
	border: 5px solid white;
	background-color: #eeeeee;
	display: flex;
	margin-bottom: 30px;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
	border-radius: 5px;

}

.wrap-example > div {
	min-width: 100px;
	height: 100px;
	border: 5px solid black;
	background-image:url("https://media1.giphy.com/media/ZKEg50Gkzd3iek1y6x/giphy.gif?cid=790b7611b036ea46b44a18cfdaec98a14496bcd8377cf86b&rid=giphy.gif&ct=g");
	margin-right: 10px;
	border-radius: 5px;

}

/*.wrap-example-1 {
	flex-wrap: nowrap;
}*/

.code-fallback {
	background-color: #cccccc;
	border-radius: 5px;
}


.rainbow-button {
	border: none;
	border-radius: 10px;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 80px;
	width: 180px;
}

a  {
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
}

li a {
	color: #d9428d;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
}

.setup-steps li::marker {
	color: #d9428d;
	font-weight: bold;
}

.negative-margins {
	width: 40%;
	height: 25%;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
}

.negative-margins p {
	padding: 5px;
	background-color: #eeeeee;
	color: black;
	margin-left: -50px;
}

.img-1 {
	width: 110%;
}

.copy-icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	cursor: pointer;
	margin-left: 10px;
}




/*media queries*/
@media (max-width:1165px){
	#about > .container {
		display: grid;
		grid-template-columns: 47% 47%;
	}
	#about > .container > div {
		justify-content: center;
		align-items: center;
	}

	.documentation-container {
		flex-wrap: wrap;
	}

	.documentation-container.flex-row-reverse {
		flex-direction: column-reverse !important;
	}

	.documentation-container:nth-of-type(even) {
		background-color: #efefef;
	}

	.documentation-container > div {
		width: 100% !important;
	}
	.container-feature * {
		margin-left: 0 !important;
	}

	.css-grid {
		min-height: 1021px;
	}

	.long-words {
		margin-top: 80px;
		margin-bottom: 30px;
	}

	.min-content-size {
		padding-bottom: 60px !important;
	}
	.install {
		flex-wrap: wrap;
	}
	.install-wrapper-half {
		width: 100%;
	}
	div {
		text-align: center;
	}
	.center-sm:not(.flex), .center-sm:not(.d-flex) {
		display: flex;
	}

	.center-sm {
		justify-content: center;
		width: 100%;
		align-items: center;
	}
	.logo-small {
		font-size: 3rem;
	}

	.column-direction {
		flex-direction: column;
	}

}

@media (max-width:991px){

    #about > .container {
		display: grid;
		grid-template-columns: 47% 47%;
	}
	#about > .container > div {
		justify-content: center;
		align-items: center;
	}

	.documentation-container {
		flex-wrap: wrap;
	}

	.documentation-container.flex-row-reverse {
		flex-direction: column-reverse !important;
	}

	.documentation-container:nth-of-type(even) {
		background-color: #efefef;
	}

	.documentation-container > div {
		width: 100% !important;
	}
	.container-feature * {
		margin-left: 0 !important;
	}

	.css-grid {
		min-height: 1021px;
	}

	.long-words {
		margin-top: 80px;
		margin-bottom: 30px;
	}

	.min-content-size {
		padding-bottom: 60px !important;
	}
	.install {
		flex-wrap: wrap;
	}
	.install-wrapper-half {
		width: 100%;
	}
	div {
		text-align: center;
	}
	.center-sm:not(.flex), .center-sm:not(.d-flex) {
		display: flex;
	}

	.center-sm {
		justify-content: center;
		width: 100%;
		align-items: center;
	}
	.logo-small {
		font-size: 3rem;
	}

	.column-direction {
		flex-direction: column;
	}

}



@media (max-width:450px){

	.logo {
		font-size: 5rem;
	}
	header {
		height: auto;
	}

	header .h-100 {
		height: 100vh !important;
	}

	#about .container > div {
		max-width: 300px;
		width: 95%;
		margin: auto;
	}
	#about .container {
		grid-template-columns: 1fr;
		justify-content: center;
	}

	.wrap-example {
		width: 90%;
		margin: 20px auto;
	}

	.wrap-example > div {
		margin-bottom: 30px;
	}




    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
     }


	.install {
		max-width: 100%;
	}


	.install img {
		max-width: 70%;
	}

	.install-wrapper-half {
		width: 100%;


	}
}

@media (max-width:768px){


    header {
        width:100%;
    }

	.btn-group a {
		font-size: 16px;;
	}

	.subtitle {
		font-size:16px;
	}

	.logo, .logo-small {
		max-width: 100%;
	}

	.about .container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}







@media (max-width:450px){

    html{
        font-size: 50%;
	}

    .footer{
        text-align: center;
     }

    .footer {
        margin: 2rem auto;
    }

}