* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrap {
    flex-wrap: wrap;
}

.overflow-wrap {
    overflow: wrap;
}

.overflow-all {
    overflow: scroll;
    text-overflow: scroll;
}

.m-0 {
    margin: 0 !important;
}

img {
    display: block;
}

.overflow-y {
    overflow-y: scroll;
}

.overflow-x {
    overflow-x: scroll;
}

.overflow-height {
    height: 100%;
    overflow-y: scroll;
}

.overflow-width {
    width: 100%;
    overflow-x: scroll;
}

.minmax {
    grid-template-columns: minmax(1fr, 1fr);
}

.overflow-hidden {
    overflow: hidden;
}

.responsive-container {  /*also images*/
    width: 100%;
    max-width: 500px;
    height: auto;
}

.text-wrap {
    word-wrap: wrap;
    width: 100%;
}

.minwidth {
    min-width: 10px;
    height: auto;
}

.overflow-inline {
    overflow-inline: scroll;
}



